.flows.json.backup
[
    {
        "id": "4b460709d174f300",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1e3b1a6193c2b0c3",
        "type": "tab",
        "label": "Rollo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "46d093f4cc5b1185",
        "type": "tab",
        "label": "Backup",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "229842addebeccb8",
        "type": "tab",
        "label": "test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f3f6c2b7f2a1a111",
        "type": "tab",
        "label": "PCA9685 LED Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8702112e953c7de5",
        "type": "tab",
        "label": "Licht",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "71041d5f570c07d3",
        "type": "tab",
        "label": "max",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "776cbcab809a4f68",
        "type": "subflow",
        "name": "Testsub",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 140,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 280,
                "y": 140,
                "wires": [
                    {
                        "id": "776cbcab809a4f68",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 280,
            "y": 220,
            "wires": [
                {
                    "id": "776cbcab809a4f68",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "2414f8e304a8ac92",
        "type": "group",
        "z": "46d093f4cc5b1185",
        "name": "GitHub",
        "style": {
            "label": true
        },
        "nodes": [
            "eca9e1dc01079b29",
            "d8b813bb5a7be347",
            "exec_git_push",
            "305f9ad8eeaf231d"
        ],
        "x": 134,
        "y": 291.5,
        "w": 692,
        "h": 177
    },
    {
        "id": "ae43ed34035b754f",
        "type": "group",
        "z": "46d093f4cc5b1185",
        "name": "Telegram",
        "style": {
            "label": true
        },
        "nodes": [
            "962acbf1f482f3d8",
            "0c77cc8ad1306f48",
            "7a1a445a0c59efa5",
            "e7723a4e9877f2d5",
            "290da3d13ab3c5a2"
        ],
        "x": 134,
        "y": 111.5,
        "w": 1012,
        "h": 149.5
    },
    {
        "id": "03b8dbfbfab8bc9f",
        "type": "junction",
        "z": "1e3b1a6193c2b0c3",
        "x": 520,
        "y": 100,
        "wires": [
            [
                "7ac61214f2a9bf45"
            ]
        ]
    },
    {
        "id": "4f4ed0cc81a764ca",
        "type": "telegram bot",
        "botname": "LCARS",
        "usernames": "Matze_LCARS_bot",
        "chatids": "599846758",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "41402cc865566197",
        "type": "pca9685-config",
        "busNo": 1,
        "address": "0x40",
        "freqHz": "1000"
    },
    {
        "id": "d1b8132041c373d2",
        "type": "uibuilder",
        "z": "4b460709d174f300",
        "name": "",
        "topic": "",
        "url": "lcars",
        "okToGo": true,
        "fwdInMessages": true,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "blank",
        "extTemplate": "",
        "showfolder": false,
        "reload": true,
        "sourceFolder": "src",
        "deployedVersion": "7.5.0",
        "showMsgUib": true,
        "title": "",
        "descr": "",
        "editurl": "vscode://vscode-remote/ssh-remote+192.168.2.107/home/matze/.node-red/uibuilder/lcars/?windowId=_blank",
        "x": 460,
        "y": 180,
        "wires": [
            [
                "c9101ca450bedf3c"
            ],
            []
        ]
    },
    {
        "id": "inject_reload",
        "type": "inject",
        "z": "4b460709d174f300",
        "name": "Reload Browser",
        "props": [
            {
                "p": "_uib",
                "v": "{\"reload\":true}",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "d1b8132041c373d2"
            ]
        ]
    },
    {
        "id": "46a0a10897488461",
        "type": "inject",
        "z": "4b460709d174f300",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "str",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "reload_msg"
            ]
        ]
    },
    {
        "id": "reload_msg",
        "type": "change",
        "z": "4b460709d174f300",
        "name": "Build reload command",
        "rules": [
            {
                "t": "set",
                "p": "_uib",
                "pt": "msg",
                "to": "{\"reload\":true}",
                "tot": "json"
            }
        ],
        "x": 360,
        "y": 380,
        "wires": [
            [
                "d1b8132041c373d2"
            ]
        ]
    },
    {
        "id": "e24c36813a7d52aa",
        "type": "inject",
        "z": "4b460709d174f300",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "mode",
        "payload": "{\"mode\": \"home\"}",
        "payloadType": "json",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "d1b8132041c373d2"
            ]
        ]
    },
    {
        "id": "21f588239cda1d76",
        "type": "function",
        "z": "4b460709d174f300",
        "name": "function 1",
        "func": "msg.topic = \"mode\";\nmsg.payload = { mode: \"night\" }; // unbedingt Objekt\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 540,
        "wires": [
            [
                "d1b8132041c373d2"
            ]
        ]
    },
    {
        "id": "484758032168f888",
        "type": "inject",
        "z": "4b460709d174f300",
        "name": "Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "21f588239cda1d76"
            ]
        ]
    },
    {
        "id": "c9101ca450bedf3c",
        "type": "link out",
        "z": "4b460709d174f300",
        "name": "ROLLO",
        "mode": "link",
        "links": [],
        "x": 675,
        "y": 100,
        "wires": []
    },
    {
        "id": "5d917904e71d9b5c",
        "type": "comment",
        "z": "4b460709d174f300",
        "name": "Rollo",
        "info": "",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "inject_temp",
        "type": "inject",
        "z": "4b460709d174f300",
        "name": "Temperatur ID 1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "{\"id\":1,\"temp\":22.8}",
        "payloadType": "json",
        "x": 520,
        "y": 520,
        "wires": [
            [
                "d1b8132041c373d2"
            ]
        ]
    },
    {
        "id": "c56d6e642cae5f30",
        "type": "inject",
        "z": "4b460709d174f300",
        "name": "mode",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"mode\": \"night\" } ",
        "payloadType": "json",
        "x": 130,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "aa0975d6d357a44c",
        "type": "telegram sender",
        "z": "4b460709d174f300",
        "name": "",
        "bot": "4f4ed0cc81a764ca",
        "haserroroutput": false,
        "outputs": 1,
        "x": 990,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "c79cfb9b34fd1b2e",
        "type": "telegram receiver",
        "z": "4b460709d174f300",
        "name": "",
        "bot": "4f4ed0cc81a764ca",
        "saveDataDir": "",
        "filterCommands": false,
        "hasinput": false,
        "inputs": 0,
        "handleallupdates": false,
        "x": 1010,
        "y": 560,
        "wires": [
            [
                "515949d3ccff8280"
            ],
            []
        ]
    },
    {
        "id": "515949d3ccff8280",
        "type": "debug",
        "z": "4b460709d174f300",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 560,
        "wires": []
    },
    {
        "id": "49d34e4197def05c",
        "type": "function",
        "z": "4b460709d174f300",
        "name": "function 2",
        "func": "msg.payload = {\n    type: \"message\",\n    chatId: 599846758,\n    content: \"Hallo Matze 👋 Telegram aus Node-RED läuft!\"\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 640,
        "wires": [
            [
                "aa0975d6d357a44c"
            ]
        ]
    },
    {
        "id": "ec51dec7107163c1",
        "type": "inject",
        "z": "4b460709d174f300",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 560,
        "y": 640,
        "wires": [
            [
                "49d34e4197def05c"
            ]
        ]
    },
    {
        "id": "7ac61214f2a9bf45",
        "type": "uib-sender",
        "z": "1e3b1a6193c2b0c3",
        "url": "lcars",
        "uibId": "d1b8132041c373d2",
        "name": "UIBuilder",
        "topic": "",
        "passthrough": true,
        "return": false,
        "outputs": 1,
        "x": 660,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f59bce790c9b19f4",
        "type": "link in",
        "z": "1e3b1a6193c2b0c3",
        "name": "ROLLO",
        "links": [
            "c9101ca450bedf3c"
        ],
        "x": 115,
        "y": 160,
        "wires": [
            [
                "b7d0832562e3a41c",
                "72e10f96dd64f9fb"
            ]
        ]
    },
    {
        "id": "1b63d1168cc1b5b1",
        "type": "rpi-gpio out",
        "z": "1e3b1a6193c2b0c3",
        "name": "Rollo AB",
        "pin": "19",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "b18a0d80af9628cc",
        "type": "rpi-gpio out",
        "z": "1e3b1a6193c2b0c3",
        "name": "Rollo AUF",
        "pin": "26",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "b7d0832562e3a41c",
        "type": "rollo",
        "z": "1e3b1a6193c2b0c3",
        "name": "Rollo Tür",
        "rolloId": "1",
        "longPressMs": 800,
        "autoStopAufMs": "20000",
        "autoStopAbMs": "20000",
        "x": 340,
        "y": 160,
        "wires": [
            [
                "03b8dbfbfab8bc9f"
            ],
            [
                "b18a0d80af9628cc",
                "dc0288500fccb22c"
            ],
            [
                "1b63d1168cc1b5b1",
                "50d67da1890135bf"
            ]
        ],
        "outputLabels": [
            "UI",
            "",
            ""
        ]
    },
    {
        "id": "72e10f96dd64f9fb",
        "type": "rollo",
        "z": "1e3b1a6193c2b0c3",
        "name": "Rollo Fenster",
        "rolloId": "2",
        "longPressMs": 800,
        "autoStopAufMs": "20000",
        "autoStopAbMs": "20000",
        "x": 350,
        "y": 320,
        "wires": [
            [
                "03b8dbfbfab8bc9f"
            ],
            [
                "5edf477f0bb7f6c7"
            ],
            [
                "7b5e8ebe603338d7"
            ]
        ]
    },
    {
        "id": "7b5e8ebe603338d7",
        "type": "rpi-gpio out",
        "z": "1e3b1a6193c2b0c3",
        "name": "Rollo AB",
        "pin": "12",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 660,
        "y": 380,
        "wires": []
    },
    {
        "id": "5edf477f0bb7f6c7",
        "type": "rpi-gpio out",
        "z": "1e3b1a6193c2b0c3",
        "name": "Rollo AUF",
        "pin": "6",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "50d67da1890135bf",
        "type": "link out",
        "z": "1e3b1a6193c2b0c3",
        "name": "link out 1",
        "mode": "link",
        "links": [],
        "x": 905,
        "y": 220,
        "wires": []
    },
    {
        "id": "dc0288500fccb22c",
        "type": "link out",
        "z": "1e3b1a6193c2b0c3",
        "name": "link out 2",
        "mode": "link",
        "links": [],
        "x": 925,
        "y": 120,
        "wires": []
    },
    {
        "id": "962acbf1f482f3d8",
        "type": "exec",
        "z": "46d093f4cc5b1185",
        "g": "ae43ed34035b754f",
        "command": "/home/matze/node-red-backup.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 720,
        "y": 160,
        "wires": [
            [],
            [],
            [
                "e7723a4e9877f2d5"
            ]
        ]
    },
    {
        "id": "0c77cc8ad1306f48",
        "type": "inject",
        "z": "46d093f4cc5b1185",
        "g": "ae43ed34035b754f",
        "name": "Man. Trigger Backup",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "962acbf1f482f3d8"
            ]
        ]
    },
    {
        "id": "7a1a445a0c59efa5",
        "type": "telegram command",
        "z": "46d093f4cc5b1185",
        "g": "ae43ed34035b754f",
        "name": "BackupTelegram",
        "command": "/backup",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "4f4ed0cc81a764ca",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 240,
        "y": 160,
        "wires": [
            [
                "962acbf1f482f3d8"
            ],
            []
        ]
    },
    {
        "id": "e7723a4e9877f2d5",
        "type": "function",
        "z": "46d093f4cc5b1185",
        "g": "ae43ed34035b754f",
        "name": "function 3",
        "func": "// Prüfen, ob das Backup erfolgreich war\nlet statusText;\nif (msg.payload.code === 0) {\n    // Erfolg\n    statusText = \"✅ Backup erfolgreich erstellt!\";\n} else {\n    // Fehler\n    statusText = \"❌ Backup fehlgeschlagen!\";\n}\n\n// Optional: Ausgabe des Skripts mit in Telegram schicken\nlet output = msg.payload.stdout || \"\";\nif (output) {\n    statusText += `\\n\\nDetails:\\n${output}`;\n}\n\n// Telegram Nachricht vorbereiten\nmsg.payload = {\n    type: \"message\",\n    chatId: 599846758,  // Hier deine Chat-ID eintragen\n    content: statusText\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 220,
        "wires": [
            [
                "290da3d13ab3c5a2"
            ]
        ]
    },
    {
        "id": "290da3d13ab3c5a2",
        "type": "telegram sender",
        "z": "46d093f4cc5b1185",
        "g": "ae43ed34035b754f",
        "name": "",
        "bot": "4f4ed0cc81a764ca",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1030,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "eca9e1dc01079b29",
        "type": "exec",
        "z": "46d093f4cc5b1185",
        "g": "2414f8e304a8ac92",
        "command": "/home/matze/.node-red/projects/LCARS/git-autocommit.sh",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 590,
        "y": 340,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "d8b813bb5a7be347",
        "type": "inject",
        "z": "46d093f4cc5b1185",
        "g": "2414f8e304a8ac92",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 230,
        "y": 340,
        "wires": [
            [
                "eca9e1dc01079b29"
            ]
        ]
    },
    {
        "id": "exec_git_push",
        "type": "exec",
        "z": "46d093f4cc5b1185",
        "g": "2414f8e304a8ac92",
        "command": "cd /home/matze/.node-red/projects/LCARS && git push origin master",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Git Push",
        "x": 440,
        "y": 420,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "305f9ad8eeaf231d",
        "type": "inject",
        "z": "46d093f4cc5b1185",
        "g": "2414f8e304a8ac92",
        "name": "Push",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 230,
        "y": 420,
        "wires": [
            [
                "exec_git_push"
            ]
        ]
    },
    {
        "id": "3a12a30fbb58dffd",
        "type": "subflow:776cbcab809a4f68",
        "z": "229842addebeccb8",
        "name": "",
        "x": 470,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "b0650fc8656ca401",
        "type": "subflow:776cbcab809a4f68",
        "z": "229842addebeccb8",
        "name": "",
        "x": 470,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "89564590fa76b97f",
        "type": "inject",
        "z": "229842addebeccb8",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "1",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "3a12a30fbb58dffd"
            ]
        ]
    },
    {
        "id": "9cbd7f495afd6906",
        "type": "inject",
        "z": "229842addebeccb8",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "2",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "b0650fc8656ca401"
            ]
        ]
    },
    {
        "id": "5a3aa5b7d82ea555",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "Static: warm orange + white",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"rgb\":\"#ff8800\",\"ct\":3200,\"white\":0.35,\"brightness\":0.20}",
        "payloadType": "json",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "a1f1d7c48b2ac666",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "Effect: Rainbow (60s loop)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"effect\":\"rainbow\",\"periodMs\":30000,\"brightness\":1,\"white\":0,\"ct\":4000}",
        "payloadType": "json",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "9c5e1f0b6d0fd777",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "Effect: Fade Pingpong (smooth)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"effect\":\"fade\",\"colors\":[\"#ff0000\",\"#00ff00\",\"#0000ff\",\"#ffffff\"],\"order\":\"pingpong\",\"transitionMs\":3500,\"holdMs\":200,\"easing\":\"smooth\",\"brightness\":0.20,\"white\":0}",
        "payloadType": "json",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "c0ad0d72a6dbf888",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "STOP effect",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"effect\":\"stop\"}",
        "payloadType": "json",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "9243140d196a1743",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "Static: warm orange + white",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"rgb\":\"#ffffff\", \"brightness\": 1, \"white\": 0 }",
        "payloadType": "json",
        "x": 320,
        "y": 400,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "ee6c95b54103138e",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "blue",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"r\":0.3,\"g\":0.2,\"b\":1,\"ww\":0,\"kw\":0}",
        "payloadType": "json",
        "x": 390,
        "y": 580,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "8e6677a93ee69b95",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "green",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"r\":0,\"g\":1,\"b\":0,\"ww\":0,\"kw\":0}",
        "payloadType": "json",
        "x": 390,
        "y": 520,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "6de2c8a22613bc0d",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "red",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"r\":1.0,\"g\":0,\"b\":0,\"ww\":0,\"kw\":0}",
        "payloadType": "json",
        "x": 250,
        "y": 460,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "2e56ac3ab92564a0",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "kw",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"r\":0,\"g\":0,\"b\":0,\"ww\":0,\"kw\":1}",
        "payloadType": "json",
        "x": 390,
        "y": 700,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "ad292e3d86e7a0ef",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "ww",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"r\":0,\"g\":0,\"b\":0,\"ww\":1,\"kw\":0}",
        "payloadType": "json",
        "x": 390,
        "y": 640,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "6fa5aec17d2e748c",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "list",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"effect\":\"list\",\"log\":true}",
        "payloadType": "json",
        "x": 470,
        "y": 40,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "dfcaeaf186595553",
        "type": "pca9685-light",
        "z": "f3f6c2b7f2a1a111",
        "name": "",
        "pca": "41402cc865566197",
        "gamma": "2.5",
        "fps": 50,
        "chR": "8",
        "chG": "9",
        "chB": "10",
        "chWW": "11",
        "chKW": "12",
        "x": 710,
        "y": 120,
        "wires": [
            [
                "c2826630504bf2e9"
            ]
        ]
    },
    {
        "id": "c2826630504bf2e9",
        "type": "debug",
        "z": "f3f6c2b7f2a1a111",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 120,
        "wires": []
    },
    {
        "id": "44c6f4748c6366da",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "lila",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"effect\":\"set\",\"rgb\":\"#500175\",\"ct\":3000,\"white\":0,\"brightness\":1,\"ctMin\":2700,\"ctMax\":6500}",
        "payloadType": "json",
        "x": 670,
        "y": 480,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "be1972c3673965b2",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "orange",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"r\":1,\"g\":0.5,\"b\":0,\"ww\":1,\"kw\":0.5}",
        "payloadType": "json",
        "x": 675,
        "y": 531,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "d43ed3a3f28d60bf",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "fade out",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"effect\":\"pulse\",\"mode\":\"out\",\"outFrom\":\"current\",\"durationMs\":2000}",
        "payloadType": "json",
        "x": 940,
        "y": 360,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "94a061e318edf84a",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "pulse",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"effect\":\"pulse\",\"mode\":\"inout\",\"rgb\":\"#ff0000\",\"brightness\":1,\"holdMs\":100,\"durationMs\":500,\"loop\":true}",
        "payloadType": "json",
        "x": 930,
        "y": 480,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "83068b494bcebb82",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "fade in",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"effect\":\"pulse\",\"mode\":\"in\",\"rgb\":\"#000000\",\"brightness\":1,\"inFrom\":\"current\",\"white\":1,\"ct\":3000,\"durationMs\":500}",
        "payloadType": "json",
        "x": 930,
        "y": 300,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "1c4c83c5e2a64881",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "mix",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"effect\":\"mix\",\"effectA\":\"set\",\"a\":{\"rgb\":\"#000000\",\"ct\":2700,\"white\":1,\"brightness\":1,\"ctMin\":2700,\"ctMax\":6500},\"effectB\":\"pulse\",\"b\":{\"mode\":\"inout\",\"rgb\":\"#ff0000\",\"ct\":2700,\"white\":0.5,\"brightness\":1,\"durationMs\":500,\"loop\":true},\"blend\":\"add\"}",
        "payloadType": "json",
        "x": 1210,
        "y": 480,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "dae2a3d9c58e40ed",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "alarm",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"effect\":\"alarm\",\"dim\":0.2,\"blinkHz\":0.5,\"blinkDuty\":0.5,\"red\":1}",
        "payloadType": "json",
        "x": 930,
        "y": 580,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "aa12fb5db7849a36",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "overlay",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"effect\":\"overlay\",\"baseEffect\":\"rainbow\",\"base\":{\"periodMs\":20000,\"brightness\":0.25},\"overlay\":{\"enabled\":false}}",
        "payloadType": "json",
        "x": 1210,
        "y": 580,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "5fa410a29e06cb90",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "overlay on",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"overlay\":{\"enabled\":true,\"dim\":0.5,\"color\":\"#ff0000\",\"blinkHz\":2,\"wave\":\"sine\"}}",
        "payloadType": "json",
        "x": 1220,
        "y": 640,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "4e7cc4d2c8f163c6",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "back",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"back\"}",
        "payloadType": "json",
        "x": 670,
        "y": 620,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "168ba809c85a4076",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "OFF",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"all-off\"}",
        "payloadType": "json",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "3799b7d8bbb9b909",
        "type": "function",
        "z": "f3f6c2b7f2a1a111",
        "name": "function 4",
        "func": "msg.payload =\n\n{\n    \"r\": 1,\n    \"g\": 0,\n    \"b\": 0,\n    \"ww\": 0,\n    \"kw\": 0\n}\n\n;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 560,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "146027efe2ba3f6c",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 500,
        "wires": [
            [
                "3799b7d8bbb9b909"
            ]
        ]
    },
    {
        "id": "7245dca1904c0ddb",
        "type": "link in",
        "z": "f3f6c2b7f2a1a111",
        "name": "link in 1",
        "links": [
            "7ac66bdad405c6e6"
        ],
        "x": 335,
        "y": 340,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "19163379162f0114",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "dim",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"dim\",\"factor\": 0.9}",
        "payloadType": "json",
        "x": 910,
        "y": 640,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "dbcc2e56e1b26579",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "brightnes 0.2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"effect\":\"brightness\",\"level\":0.2,\"transitionMs\":1000}",
        "payloadType": "json",
        "x": 670,
        "y": 700,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "df233c750319b3c0",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "brightnes 1.0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"effect\":\"brightness\",\"level\":1.0,\"transitionMs\":1000}",
        "payloadType": "json",
        "x": 670,
        "y": 760,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "5f60d7a7bc72f061",
        "type": "inject",
        "z": "f3f6c2b7f2a1a111",
        "name": "dim+",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"dim-set\",\"value\":1}",
        "payloadType": "json",
        "x": 910,
        "y": 700,
        "wires": [
            [
                "dfcaeaf186595553"
            ]
        ]
    },
    {
        "id": "7ac66bdad405c6e6",
        "type": "link out",
        "z": "8702112e953c7de5",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "7245dca1904c0ddb"
        ],
        "x": 695,
        "y": 260,
        "wires": []
    },
    {
        "id": "d3714d604e67f1b0",
        "type": "function",
        "z": "8702112e953c7de5",
        "name": "red",
        "func": "msg.payload =\n\n{\n    \"r\": 1,\n    \"g\": 0,\n    \"b\": 0,\n    \"ww\": 0,\n    \"kw\": 0\n}\n\n;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 200,
        "wires": [
            [
                "7ac66bdad405c6e6"
            ]
        ]
    },
    {
        "id": "ef384237489a0f66",
        "type": "telegram command",
        "z": "8702112e953c7de5",
        "name": "red",
        "command": "/red",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "4f4ed0cc81a764ca",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "d3714d604e67f1b0"
            ],
            []
        ]
    },
    {
        "id": "180adf5b35b60e6e",
        "type": "telegram command",
        "z": "8702112e953c7de5",
        "name": "off",
        "command": "/alloff",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "4f4ed0cc81a764ca",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "b8ab9440171c6b2e"
            ],
            []
        ]
    },
    {
        "id": "b8ab9440171c6b2e",
        "type": "function",
        "z": "8702112e953c7de5",
        "name": "red",
        "func": "msg.payload =\n\n{\n    \"command\": \"all-off\"\n}\n\n;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 280,
        "wires": [
            [
                "7ac66bdad405c6e6"
            ]
        ]
    },
    {
        "id": "96c8cd93ce4c24e4",
        "type": "telegram command",
        "z": "8702112e953c7de5",
        "name": "AN",
        "command": "/an",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "4f4ed0cc81a764ca",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 190,
        "y": 380,
        "wires": [
            [
                "ebb80c5b2bfd7539"
            ],
            []
        ]
    },
    {
        "id": "ebb80c5b2bfd7539",
        "type": "function",
        "z": "8702112e953c7de5",
        "name": "red",
        "func": "msg.payload =\n\n{\n    \"effect\": \"pulse\",\n    \"mode\": \"in\",\n    \"rgb\": \"#000000\",\n    \"brightness\": 1,\n    \"inFrom\": \"current\",\n    \"white\": 1,\n    \"ct\": 3000,\n    \"durationMs\": 500\n}\n\n;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 380,
        "wires": [
            [
                "7ac66bdad405c6e6"
            ]
        ]
    },
    {
        "id": "166d0b8976140569",
        "type": "telegram command",
        "z": "8702112e953c7de5",
        "name": "AUS",
        "command": "/aus",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "4f4ed0cc81a764ca",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 190,
        "y": 460,
        "wires": [
            [
                "c53dfa4dfaf467d2"
            ],
            []
        ]
    },
    {
        "id": "c53dfa4dfaf467d2",
        "type": "function",
        "z": "8702112e953c7de5",
        "name": "red",
        "func": "msg.payload =\n\n{\n    \"effect\": \"pulse\",\n    \"mode\": \"out\",\n    \"outFrom\": \"current\",\n    \"durationMs\": 2000\n}\n\n;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 460,
        "wires": [
            [
                "7ac66bdad405c6e6"
            ]
        ]
    },
    {
        "id": "2c653e89daaa6cb1",
        "type": "max7219-raw",
        "z": "71041d5f570c07d3",
        "name": "",
        "bus": 0,
        "device": 0,
        "cascaded": 4,
        "intensity": 4,
        "reverse": false,
        "rotate": "0",
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "ee3f6709640dee39",
        "type": "inject",
        "z": "71041d5f570c07d3",
        "name": "node red",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"scroll\":\"NODE RED\",\"speedMs\":60}",
        "payloadType": "json",
        "x": 340,
        "y": 220,
        "wires": [
            [
                "2c653e89daaa6cb1"
            ]
        ]
    }
]